registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
package-lock=false

zone.js:registry=https://registry.npmjs.org/
yargs:registry=https://registry.npmjs.org/
yocto-queue:registry=https://registry.npmjs.org/
yaml:registry=https://registry.npmjs.org/
xml-name-validator:registry=https://registry.npmjs.org/
xmlchars:registry=https://registry.npmjs.org/
ws:registry=https://registry.npmjs.org/
wrap-ansi:registry=https://registry.npmjs.org/
wildcard:registry=https://registry.npmjs.org/
whatwg-mimetype:registry=https://registry.npmjs.org/
whatwg-encoding:registry=https://registry.npmjs.org/
whatwg-url:registry=https://registry.npmjs.org/
websocket-driver:registry=https://registry.npmjs.org/
websocket-extensions:registry=https://registry.npmjs.org/
webpack-sources:registry=https://registry.npmjs.org/
webpack-dev-server:registry=https://registry.npmjs.org/